# Timezone
TZ=Asia/Tokyo

# Plex user/group ID
# (Check with `id` command on the host)
PLEX_UID=1000
PLEX_GID=1000

# Plex claim token
# Publish at https://www.plex.tv/claim/
# Only required for the initial setup
PLEX_CLAIM=claim-xxxxxxx
